
.body{
  margin:0
}

.fullApp{
  height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
          "header"
          "main "
          "footer";
}

.header{
grid-area: header;
}

.main{
grid-area: main;
background-color: #ffffff;
}
.footer{
grid-area: footer;
text-align:center;
background-color: #0f181b;

}






  .pMain{
    grid-area: pMain;
    height:100vh;
    text-align: center;
    padding-top: -11vh;
    }
    
    .pProjects{
    grid-area: pProjects;
    min-height: 100vh;
    text-align: center;
    }
    
    .home{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
          "pMain"
          "pProjects"
    }
    .portfolioCard{
      width: 300px;
    }
    .pCards{
      display:grid;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      grid-template-columns: repeat(auto-fit,300px);
      gap: 3rem;
      justify-content: center;
    }
    

  .Main{
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 75vh ;
    grid-template-areas: 
      "title"
      "animation"
  }
  
  .title{
    grid-area: title;
    text-align: center;
    margin-top: 5vh;
    margin-left: 4vw;
    margin-right: 4vw;
  }
  
  .intro{
  position: static;
  margin: 10px;
  font-size: 6vh;
  }
  .projectTitle{
    font-size: 4vh;
  }
  .intro2{
    position: static;
    margin-top: 10px;
    font-size:3.2vh;
  }
  
  .animation{
    grid-area: animation;
    z-index:2147483647 !important;
  }
  
  .software img{
    position: relative;
    width: 80vw; 
    max-width: 400px;
  
  }
  
  
    .html img{
        position: absolute;
        opacity: 0%;
        width: 13vw;
        animation-fill-mode: forwards;
        animation-name: html;
        max-width: 80px;
        animation-duration: 5s;
        bottom:0vh;
        z-index:2147483647 !important;
      }
  
      @keyframes html {
        0% {
          opacity: 0%;
          -webkit-transform: translatex(0px) translatey(0px);
          -moz-transform: translatex(0px) translatey(0px);
          -o-transform: translatex(0px) translatey(0px);
          -ms-transform: translatex(0px) translatey(0px);
          transform: translatex(0px) translatey(0px);

      }
      100% {
          opacity: 100%;
          transform: translatex(-40vw) translatey(-56vh);
      }
      }
  
      .css3 img{
        position: absolute;
        opacity: 0%;
          width: 8vw;
          max-width: 50px;
          animation-fill-mode: forwards;
          animation-name: css3;
          animation-duration: 5s;
          animation-delay: .4s;
          bottom:0vh;
  
        }
        
        @keyframes css3 {
          0% {
    
            opacity: 0%;
            transform: translatex(0px) translatey(0px)
            
        }
        100% {
          opacity: 100%;
          transform: translatex(-22vw) translatey(-56.5vh);
          -webkit-transform: translatex(-22vw) translatey(-56.5vh);
          -moz-transform: translatex(-22vw) translatey(-56.5vh);
          -o-transform: translatex(-22vw) translatey(-56.5vh);
          -ms-transform: translatex(-22vw) translatey(-56.5vh);
        }
        }
  
        .js img{
          position: absolute;
          opacity: 0%;
            width: 12vw;
            max-width: 70px;
            animation-name: js;
            animation-fill-mode: forwards;
            animation-duration: 5s;
            animation-delay: .8s;
            bottom:0vh;
    
          }
          
          @keyframes js {
            0% {
      
              opacity: 0%;
              transform: translatex(0px) translatey(0px);
              -webkit-transform: translatex(0px) translatey(0px);
              -moz-transform: translatex(0px) translatey(0px);
              -o-transform: translatex(0px) translatey(0px);
              -ms-transform: translatex(0px) translatey(0px);
              
          }
          100% {
       
            opacity: 100%;
            transform: translatex(-10vw) translatey(-56.4vh);
            -webkit-transform: translatex(-10vw) translatey(-56.4vh);
            -moz-transform: translatex(-10vw) translatey(-56.4vh);
            -o-transform: translatex(-10vw) translatey(-56.4vh);
            -ms-transform: translatex(-10vw) translatey(-56.4vh);
          }
          }
      
  
        .react img{
          position: absolute;
          opacity: 0%;
            width: 11vw;
            max-width: 70px;
            animation-name: react;
            animation-fill-mode: forwards;
            animation-duration: 5s;
            animation-delay: 1.2s;
            bottom:0vh;
    
          }
          
          @keyframes react {
            0% {
      
              opacity: 0%;
              transform: translatex(0px) translatey(0px);
              -webkit-transform: translatex(0px) translatey(0px);
              -moz-transform: translatex(0px) translatey(0px);
              -o-transform: translatex(0px) translatey(0px);
              -ms-transform: translatex(0px) translatey(0px);
          }
          100% {
       
            opacity: 100%;
            transform: translatex(6vw) translatey(-56.5vh);
            -webkit-transform: translatex(6vw) translatey(-56.5vh);
            -moz-transform: translatex(6vw) translatey(-56.5vh);
            -o-transform: translatex(6vw) translatey(-56.5vh);
            -ms-transform: translatex(6vw) translatey(-56.5vh);
          }
          }
  
        .redux img{
          position: absolute;
          opacity: 0%;
            width: 14vw;
            max-width: 85px;
            animation-fill-mode: forwards;
            animation-name: redux;
            animation-duration: 5s;
            animation-delay: 1.4s;
            bottom:0vh;
    
          }
          
          @keyframes redux {
            0% {
      
              opacity: 0%;
              transform: translatex(0px) translatey(0px);
              -webkit-transform: translatex(0px) translatey(0px);
              -moz-transform: translatex(0px) translatey(0px);
              -o-transform: translatex(0px) translatey(0px);
              -ms-transform: translatex(0px) translatey(0px);
          }
          100% {
            opacity: 100%;
            transform: translatex(19vw) translatey(-55vh);
            -webkit-transform: translatex(19vw) translatey(-55vh);
            -moz-transform: translatex(19vw) translatey(-55vh);
            -o-transform: translatex(19vw) translatey(-55vh);
            -ms-transform: translatex(19vw) translatey(-55vh);
          }
          }
  
          .jwt img{
            position: absolute;
            opacity: 0%;
              width: 14vw;
              max-width: 90px;
              animation-name: jwt;
              animation-fill-mode: forwards;
              animation-duration: 5s;
              animation-delay: 1.6s;
              bottom:0vh;
      
            }
            
            @keyframes jwt {
              0% {
        
                opacity: 0%;
                transform: translatex(0px) translatey(0px);
                -webkit-transform: translatex(0px) translatey(0px);
                -moz-transform: translatex(0px) translatey(0px); 
                -o-transform: translatex(0px) translatey(0px); 
                -ms-transform: translatex(0px) translatey(0px); 
                
            }
            100% {
              opacity: 100%;
              transform: translatex(-11vw) translatey(-37vh);
              -webkit-transform: translatex(-11vw) translatey(-37vh);
              -moz-transform:translatex(-11vw) translatey(-37vh); 
              -o-transform: translatex(-11vw) translatey(-37vh);
              -ms-transform: translatex(-11vw) translatey(-37vh);
            }
            }
            
            .nodejs img{
              position: absolute;
              opacity: 0%;
                width: 14vw;
                max-width: 90px;
                animation-name: nodejs;
                animation-fill-mode: forwards;
                animation-duration: 5s;
                animation-delay: 1.8s;
                bottom:0vh;
        
              }
              
              @keyframes nodejs {
                0% {
          
                  opacity: 0%;
                  transform: translatex(0px) translatey(0px);
                  -webkit-transform: translatex(0px) translatey(0px);
                  -moz-transform: translatex(0px) translatey(0px); 
                  -o-transform: translatex(0px) translatey(0px); 
                  -ms-transform: translatex(0px) translatey(0px);
              }
              100% {
                opacity: 100%;
                transform: translatex(-25vw) translatey(-35vh);
                -webkit-transform: translatex(-25vw) translatey(-35vh);
                -moz-transform: translatex(-25vw) translatey(-35vh); 
                -o-transform: translatex(-25vw) translatey(-35vh); 
                -ms-transform: translatex(-25vw) translatey(-35vh); 
              }
              }
  
              .mongoDb img{
                position: absolute;
                opacity: 0%;
                  width: 10vw;
                  max-width: 80px;
                  animation-name: mongoDb;
                  animation-fill-mode: forwards;
                  animation-duration: 5s;
                  animation-delay: 2s;
                  bottom:0vh;
          
                }
                
                @keyframes mongoDb {
                  0% {
            
                    opacity: 0%;
                    transform: translatex(0px) translatey(0px);
                    -webkit-transform: translatex(0px) translatey(0px); 
                    -moz-transform: translatex(0px) translatey(0px);
                    -o-transform: translatex(0px) translatey(0px);
                    -ms-transform: translatex(0px) translatey(0px);
                }
                100% {
             
                  opacity: 100%;
                  transform: translatex(6vw) translatey(-35vh);
                  -webkit-transform: translatex(6vw) translatey(-35vh);
                  -moz-transform: translatex(6vw) translatey(-35vh);
                  -o-transform: translatex(6vw) translatey(-35vh);
                  -ms-transform: translatex(6vw) translatey(-35vh);
                }
                }
  
                .mongoose img{
                  position: absolute;
                  opacity: 0%;
                    width: 18%;
                    max-width: 130px;
                    animation-name: mongoose;
                    animation-fill-mode: forwards;
                    animation-duration: 5s;
                    animation-delay: 2.2s;
                    bottom:0vh;
            
                  }
                  
                  @keyframes mongoose {
                    0% {
              
                      opacity: 0%;
                      transform: translatex(0px) translatey(0px);
                      -webkit-transform: translatex(0px) translatey(0px);
                      -moz-transform: translatex(0px) translatey(0px);
                      -o-transform: translatex(0px) translatey(0px);
                      -ms-transform: translatex(0px) translatey(0px);
                  }
                  100% {
               
                    opacity: 100%;
                    transform: translatex(-10vw) translatey(-25vh);
                    -webkit-transform: translatex(-10vw) translatey(-25vh);
                    -moz-transform: translatex(-10vw) translatey(-25vh);
                    -o-transform: translatex(-10vw) translatey(-25vh);
                    -ms-transform: translatex(-10vw) translatey(-25vh);
                  }
                  }
  
  
                  .express img{
                    position: absolute;
                    opacity: 0%;
                      width: 28vw;
                      max-width: 1200px;
                      animation-name: express;
                      animation-fill-mode: forwards;
                      animation-duration: 5s;
                      animation-delay: 2.4s;
                      bottom:0vh;
              
                    }
                    
                    @keyframes express {
                      0% {
                
                        opacity: 0%;
                        transform: translatex(0px) translatey(0px);
                        -webkit-transform: translatex(0px) translatey(0px);
                        -moz-transform: translatex(0px) translatey(0px);
                        -o-transform: translatex(0px) translatey(0px);
                        -ms-transform: translatex(0px) translatey(0px);
                    }
                    100% {
                 
                      opacity: 100%;
                      transform: translatex(-17vw) translatey(-29vh);
                      -webkit-transform: translatex(-17vw) translatey(-29vh);
                      -moz-transform:translatex(-17vw) translatey(-29vh); 
                      -o-transform: translatex(-17vw) translatey(-29vh);
                      -ms-transform:translatex(-17vw) translatey(-29vh);
                      
                    }
                    }
                    .bootstrap img{
                      position: absolute;
                      opacity: 0%;
                      width: 15vw;
                      max-width: 470px;
                      animation-name: bootstrap;
                      animation-fill-mode: forwards;
                      animation-duration: 4s;
                      animation-delay: 1s;
                      bottom:0vh;
                    }
                                                  
                      @keyframes bootstrap {
                        0% {                                    
                          opacity: 0%;
                          transform: translatex(-2px) translatey(0px);
                          -webkit-transform: translatex(-2px) translatey(0px);
                          -moz-transform: translatex(-2px) translatey(0px);
                          -o-transform: translatex(-2px) translatey(0px);
                          -ms-transform: translatex(-2px) translatey(0px);
                        }
                        100% {             
                          opacity: 100%;
                          transform: translatex(-36vw) translatey(-46vh);
                          -webkit-transform: translatex(-36vw) translatey(-46vh);
                          -moz-transform: translatex(-36vw) translatey(-46vh);
                          -o-transform: translatex(-36vw) translatey(-46vh);
                          -ms-transform: translatex(-36vw) translatey(-46vh);
                          
                          
                        }
                      }
  .axiosPic img{
    position: absolute;
    opacity: 0%;
    width: 14vw;
    max-width: 460px;
    animation-name: axiosPic;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    bottom:0vh;                      
    }
                                                  
    @keyframes axiosPic {
      0% {
        opacity: 0%;
        transform: translatex(0px) translatey(0px);
        -webkit-transform: translatex(0px) translatey(0px);
        -moz-transform: translatex(0px) translatey(0px);
        -o-transform: translatex(0px) translatey(0px);
        -ms-transform:translatex(0px) translatey(0px);
      }
      100% {
        opacity: 100%;
        transform: translatex(-20vw) translatey(-48vh);
        -webkit-transform: translatex(-20vw) translatey(-48vh);
        -moz-transform: translatex(-20vw) translatey(-48vh);
        -o-transform: translatex(-20vw) translatey(-48vh);
        -ms-transform: translatex(-20vw) translatey(-48vh);
      }
    }


  .material img{
    position: absolute;
    opacity: 0%;
    width: 10vw;
    max-width: 430px;
    animation-name: material;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 2s;
    bottom:0vh; 
  }
                          
    @keyframes material{
      0% {
        opacity: 0%;
        transform: translatex(0px) translatey(0px);
        -webkit-transform: translatex(0px) translatey(0px);
        -moz-transform: translatex(0px) translatey(0px);
        -o-transform: translatex(0px) translatey(0px); 
        -ms-transform: translatex(0px) translatey(0px);

      }
      100% {
        opacity: 100%;
        transform: translatex(-2vw) translatey(-47vh);
        -webkit-transform: translatex(-2vw) translatey(-47vh);
        -moz-transform: translatex(-2vw) translatey(-47vh);
        -o-transform: translatex(-2vw) translatey(-47vh);
        -ms-transform:translatex(-2vw) translatey(-47vh);

      }
    }

    .reactRouter img{
      position: absolute;
      opacity: 0%;
      width: 15vw;
      max-width: 480px;
      animation-name: reactRouter;
      animation-fill-mode: forwards;
      animation-duration: 5s;
      animation-delay: 1.2s;
      bottom:0vh;                  
    }
                              
      @keyframes reactRouter {
        0% {
            opacity: 0%;
            transform: translatex(0px) translatey(0px);
            -webkit-transform: translatex(0px) translatey(0px);
            -moz-transform: translatex(0px) translatey(0px);
            -o-transform: translatex(0px) translatey(0px);
            -ms-transform:translatex(0px) translatey(0px);
        }
        100% {
            opacity: 100%;
            transform: translatex(12vw) translatey(-48vh);
            -webkit-transform: translatex(12vw) translatey(-48h);
            -moz-transform: translatex(12vw) translatey(-48h);
            -o-transform: translatex(12vw) translatey(-48h);
            -ms-transform:translatex(12vw) translatey(-48h);
        }
      }     

                  


