
.body{
  margin:0
}

.fullApp{
  height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
          "header"
          "main "
          "footer";
}



.header{
grid-area: header;
}

.main{
grid-area: main;
background-color: #ffffff;
}
.footer{
grid-area: footer;
text-align:center;
background-color: #0f181b;

}

